App_OP/Web References/Pay/Pay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PayInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayInterfaceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PayInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:PayInterface" />
  </wsdl:message>
  <wsdl:message name="PayInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:PayInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="PayInterfaceHttpGetIn">
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PayInterfaceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PayInterfaceHttpPostIn">
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PayInterfaceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="PaySoap">
    <wsdl:operation name="PayInterface">
      <wsdl:input message="tns:PayInterfaceSoapIn" />
      <wsdl:output message="tns:PayInterfaceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PayHttpGet">
    <wsdl:operation name="PayInterface">
      <wsdl:input message="tns:PayInterfaceHttpGetIn" />
      <wsdl:output message="tns:PayInterfaceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PayHttpPost">
    <wsdl:operation name="PayInterface">
      <wsdl:input message="tns:PayInterfaceHttpPostIn" />
      <wsdl:output message="tns:PayInterfaceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaySoap" type="tns:PaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayInterface">
      <soap:operation soapAction="http://tempuri.org/PayInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaySoap12" type="tns:PaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayInterface">
      <soap12:operation soapAction="http://tempuri.org/PayInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayHttpGet" type="tns:PayHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PayInterface">
      <http:operation location="/PayInterface" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayHttpPost" type="tns:PayHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PayInterface">
      <http:operation location="/PayInterface" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pay">
    <wsdl:port name="PaySoap" binding="tns:PaySoap">
      <soap:address location="http://127.0.0.1:8090/Pay.asmx" />
    </wsdl:port>
    <wsdl:port name="PaySoap12" binding="tns:PaySoap12">
      <soap12:address location="http://127.0.0.1:8090/Pay.asmx" />
    </wsdl:port>
    <wsdl:port name="PayHttpGet" binding="tns:PayHttpGet">
      <http:address location="http://127.0.0.1:8090/Pay.asmx" />
    </wsdl:port>
    <wsdl:port name="PayHttpPost" binding="tns:PayHttpPost">
      <http:address location="http://127.0.0.1:8090/Pay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>